<ion-modal-view>

	<ion-header-bar class="bar bar-header bar-balanced">
		<h1 class="title">Report a Street Light</h1>
		<button class="button button-clear button-primary" ng-click="closeComposer()">Cancel</button>
	</ion-header-bar>


	<ion-content class="padding">

		<div class="list">


  <!--Image Starts -->
			<div class="text-center" ng-hide="imageData" ng-click="autoFill()">
				<img class="full-image" ng-src="https://cdn0.iconfinder.com/data/icons/smart-city/100/Street_Light-512.png"
					style="width:50%;height:50%">
			</div>

			<div class="text-center" ng-show="imageData" ng-click="autoFill()">
				<div class="picture">
					<img ng-src="data:image/jpeg;base64,{{imageData}}" alt="">
				</div>
			</div>
			<div class="text-center">
					<button class="button button-balanced" ng-click="addPicture(true)"><i class="icon ion-ios-cloud-upload">&nbsp;</i>Upload</button>
      	  <button class="button button-balanced" ng-click="addPicture(false)"><i class="icon ion-camera">&nbsp;</i>Take Picture</button>
					<button class="button button-assertive" ng-click="removePicture()" ng-show="imageData"><i class="icon ion-trash-a">&nbsp;</i>Remove Picture</button>
			</div>
			 <!--Image Ends-->
			 
			<p></p>

				<div class="item item-divider" ng-click="autoFill()">
						Street Light Details
					</div>
							<label class="item item-input item-stacked-label">
            <div class="row">
            		<div class="col">
            			<span class="input-label">Use current GPS co-oridnates</span>
            			<p></p>
            			<small  style="font-size:50%">Turn off to enter Address</small>
            		</div>
            		<div class="col">
            		  <label class="toggle pull-right">
										<input type="checkbox" ng-model="newPerson.useLocation">
										<div class="track">
											<div class="handle"></div>
										</div>
									</label>
						  	</div>
						</div>
		</label>

						<label class="item item-input item-stacked-label" ng-hide="newPerson.useLocation">
              <span class="input-label">Address*&nbsp;<small style="font-size:50%">Min 100 chars</small></span>
              <textarea ng-model="newPerson.address" type="text" placeholder="Last known Address" rows="5" cols="50"></textarea>
            </label>
					<label class="item item-input item-stacked-label">
              <span class="input-label">Name*&nbsp;<small ng-show="" style="font-size:50%">Some validation</small></span>
              <input ng-model="newShelter.name" type="text" placeholder="Full Name">
            </label>


			<label class="item item-input item-stacked-label">
				  		<span class="input-label">Date and Time*&nbsp;</span>
              			<!-- <input ng-model="newShelter.age" type="number" min="1" max="99" placeholder="Age"> -->
              			<input type="date" placeholder="MM/DD/YYYY" ng-model="newShelter.dob">
		</label>
			

		

						<label class="item item-input item-stacked-label">
              <span class="input-label">Phone&nbsp;<small  style="font-size:50%">Min 10 chars</small></span>
              <input ng-model="newShelter.phone" type="text" placeholder="(314)-234-9876" maxlength="12"></textarea>
            </label>


						<label class="item item-input item-stacked-label">
              <span class="input-label">Email&nbsp;</span>
              <input ng-model="newShelter.email" type="email" placeholder="someone@gmail.com"></textarea>
            </label>


				<div class="item item-divider">
						Details
					</div>
	

						<label class="item item-input item-stacked-label">
              <!--<span class="input-label">Details of the issue*&nbsp;<small ng-show="!isDescValid(newPerson.story)" style="font-size:50%">Min 100 chars</small></span>-->
              <textarea ng-model="newPerson.story" type="text" placeholder="" rows="6" cols="30"></textarea>
            </label>


				


		</div>
	</ion-content>

	<!-- Send Message Footer Area -->
	<ion-footer-bar keyboard-attach class="bar-balanced item-input-inset">

		<button class="button button-block button-balanced" ng-disabled="isInfoValid(newShelter)" ng-click="finalSubmit()">
			<i class="ion-ios-paperplane"></i>&nbsp;&nbsp;Submit
		</button >
	</ion-footer-bar >
  </ion-modal-view>