<ion-view title="{{needyPerson.name}}'s Details" class="show">
  <ion-pane class="background-color-grey">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="user.toggleFavorite(show)">
			<!-- <i class="ion-heart" ng-class="{'assertive':user.current.favorites[show.showid]}" ></i > -->
		</button >
	</ion-nav-buttons >

	<ion-content  >

	<div class="list card">

          <div class="item item-avatar">
            <img src="{{getThumbnail(needyPerson)}}">
            <h2>{{needyPerson.name}}
              <span class="pull-right">
                <a ng-show="needyPerson.skills" class="subdued" href="#/app/needyJobs/{{item.$id}}"><i class="icon ion-university"></i>&nbsp;Job Openings</a>
                <a ng-hide="needyPerson.skills" class="subdued" href=""><i class="icon ion-university"></i>&nbsp;Add Skills</a>
              </span>
              

            </h2>
            <p ng-controller="NeedyCtrl">
              <!--{{getDate(feed.articleDate) | date:'MMMM dd, yyyy'}}-->
              {{needyPerson.balance | currency:USD}}
              <span class="pull-right"><i class="ion ion-home"></i>&nbsp;HUD</span>
            </p>
          </div>
		
	          <div class="item item-body">
	            <img class="full-image" ng-src="{{getThumbnail(needyPerson)}}" ng-hide="needyPerson.video">
	           
	             <p ng-show="needyPerson.video">
	          	  <iframe width="100%" height="315" src="https://www.youtube.com/embed/UhsGSYAdUs4" frameborder="0" allowfullscreen></iframe>
	            </p>
	          <p >
	             {{needyPerson.story}}
	            </p>
              <p>
                  <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }

                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                    </style>


                    <table ng-show="needyPerson.services">
                        <tr>
                          <th><strong>CoC Member</strong></th>
                          <th><strong>Service Provided</strong></th>
                          <th><strong>Date</strong></th>
                          <th><strong>Notes</strong></th>
                        </tr>
                        <tr ng-repeat="service in needyPerson.services">
                          <td>{{service.coc}}</td>
                          <td>{{service.service}}</td>
                          <td>{{service.date | date:'medium'}}</td>
                          <td>{{service.notes}}</td>
                        </tr>
                       
                      </table>
              </p>
               <p >
	             Skills: {{needyPerson.skills}}
	            </p>
	          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
             <a class="tab-item" href="#/app/needyChat/{{needyPerson.id}}">
               <i class="icon ion-ios-chatboxes"></i> Chat
            </a>
            <a class="tab-item"  href="{{getTelephone(needyPerson.phone)}}">
                <i class="icon ion-ios-telephone"></i> Call
             </a>

             <!--Donate from Details page not working-->
             <!--<a class="tab-item" href="#/app/donate/{{needyPerson.$id}}">
                        <i ng-hide="isExceededStay()" class="icon ion-cash"></i> <i ng-show="isExceededStay()" class="icon ion-ios-close" style="color:red;"></i> Donate
             </a>-->
            <a class="tab-item" ng-click="share(needyPerson)">
              <i class="icon ion-share"></i>
              Share
            </a>
          
          </div>

        </div>
		

	</ion-content >
</ion-pane>
</ion-view >