<!--<div style="height: 100px;"></div>-->
<ion-view  view-title="Recent News">
    <ion-pane class="background-color-grey">


        <ion-content view-title="Needy" header-shrink scroll-event-interval="5" delegate-handle="feeds-page">

           <!--<div class="bar bar-header bar-balanced item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input  type="search" placeholder="Search" ng-model="searchText">
                </label>
                <button class="button button-icon ion-android-cancel" ng-click="searchText=''" style="color:white;">
                    
                </button>

                <span style="color:white;">({{ filtered.length}})</span>

           </div>-->


            <!--<div class="list card" ng-repeat="item in filtered = (items | filter:searchText)">-->
                <div class="list card" ng-repeat="item in newsItems">

                        <!--<div class="item item-avatar">
                            <img src="avatar.jpg">
                            <h2>Pretty Hate Machine</h2>
                            <p>Nine Inch Nails</p>
                        </div>-->

                        <div class="item item-image">
                            <img ng-src="{{item.img}}">
                        </div>
                        <div class="item item-body" href="#">
                             {{item.headline | limitTo:200}}... <strong>Read More</strong>
                            
                            <p>
                            <button ng-click="openSite(item.url)" class="button button-outline button-balanced">View on Website</button>
                            </p>
                        </div>
                        
                  

            </div>


         
          

            <!--<ion-infinite-scroll immediate-check="false" on-infinite="loadMore()"  distance="1%"></ion-infinite-scroll>-->


        </ion-content>
      

    </ion-pane>

</ion-view>