
<ion-view view-title="Open Shelters near me">
<style>
map {
  position:absolute;
  width: 100%;
  height: 100%;
}

.button-bar > .button{
  border: 1px solid #cfcfcf;
}

.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
    border-radius: 20px 0px 0px 20px !important;
}

</style>
 <ion-pane class="background-color-grey">
      <ion-content view-title="Hud agents" header-shrink scroll-event-interval="5" delegate-handle="hudagents" scroll="false">
           
           <!--<ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh"></ion-refresher> -->
            
            <!-- Search Bar Header -->
            <!-- Bug - If you filter then click on the marker the info-window doesnt get values -->
	       <!--<div class="bar bar-header  bar-balanced item-input-inset" scroll="false">
		      <label class="item-input-wrapper">
		        <i class="icon ion-ios-search placeholder-icon"></i>
		        <input  type="search" placeholder="Search" ng-model="searchText">
		      </label>
		      <button  class="button button-icon ion-android-cancel" ng-click="searchText=''; cancelFilter();">
		      </button>
		      	({{ filtered.length}})
		    </div>-->
			 <!-- Search Bar Header -->


    <div class="button-bar padding">
      <a grouped-radio="'Family'" ng-model="data.demographic">Family</a>
       <!--<a grouped-radio="'Veteran'" ng-model="data.demographic">Vsets</a>     -->
      <a grouped-radio="'Male'" ng-model="data.demographic">Male</a>
       <a grouped-radio="'Female'" ng-model="data.demographic">Female</a>
    </div>
		    
		    <!-- Map Start -->
           <map center="{{currentCoords.lat}},{{currentCoords.lon}}"
           		zoom="10"
           		disable-default-u-i="false"
               default-style="false">
           		
           		 <marker position="{{[currentCoords.lat,currentCoords.lon]}}" icon="img/here.png"></marker>
           		 
                <!--Open Shelters-->
           		 <marker id='{{agent.agcid}}'  ng-repeat = "agent in filtered = (openbeds | filter:searchText)" 
           		 		position="{{[agent.agc_ADDR_LATITUDE,agent.agc_ADDR_LONGITUDE]}}"
           		 		on-click="showDetail(event,agent)"
										icon="img/medical.png"
										animation = "DROP"
           		 		clickable="true">
           		 
		           		 <info-window id="foo-iw" >
					        <div ng-non-bindable="">
					          <strong>{{agent1.nme}}</strong><br/>
					          {{agent1.adr1}}<br/>
                      <table style="width:100%">
                        <tr>
                          <td>Family Beds</td>
                          <td>0 &nbsp;<i class="ion ion-ios-people-outline"></i></td>
                        </tr>
                       <tr>
                         <td> Single M Beds</td>
                          <td>0 &nbsp;<i class="ion ion-male"></i></td>
                        </tr>
                        <tr>
                          <td>Single F Beds</td>
                          <td>0 &nbsp;<i class="ion ion-female"></i></td>
                        </tr>
                         <tr>
                          <td>Veterans  Beds</td>
                          <td>0 &nbsp; <i class="ion ion-ios-medkit-outline"></i></td>
                        </tr>
                      </table>
					          Available: November 17, 2016<br/>
					          {{getDistance(agent1) | number : 2}} miles away&nbsp;&nbsp;<a ng-click="launchNav(agent1)"><i style="color:#398EF7;" class="icon ion-ios-navigate"></i></a><br/>
					          <a href="mailto:{{agent1.email}}" style="text-decoration:blink;color:red;" ><i class="icon ion-ios-email"></i>&nbsp;Email</a>
										&nbsp;&nbsp;&nbsp;<a  style="text-decoration:blink;color:red;"  href="tel:{{agent1.phone1}}"><i class="icon ion-ios-telephone"></i>&nbsp;Call</a>
										&nbsp;&nbsp;&nbsp;<a style="text-decoration:blink;color:red;"  ng-click="openSite(agent1.weburl)"><i class="icon ion-mouse"></i>&nbsp;Web</a>
					        </div>
					      </info-window>
           		
           		 
           		 </marker> 	
                  <!--Open Shelters-->


                  <!--Closed Shelters-->
              <marker id='{{agent.agcid}}'  ng-repeat = "agent in filtered = (closedbeds | filter:searchText)" 
           		 		position="{{[agent.agc_ADDR_LATITUDE,agent.agc_ADDR_LONGITUDE]}}"
           		 		on-click="showDetail(event,agent)"
										icon="img/close.png"
										animation = "DROP"
           		 		clickable="true">
           		 
		           		 <info-window id="foo-iw" >
					        <div ng-non-bindable="">
					          <strong>{{agent1.nme}}</strong><br/>
					          {{agent1.adr1}}<br/>
                      <table style="width:100%">
                        <tr>
                          <td>Family Beds</td>
                          <td>0 &nbsp;<i class="ion ion-ios-people-outline"></i></td>
                        </tr>
                       <tr>
                         <td> Single M Beds</td>
                          <td>0 &nbsp;<i class="ion ion-male"></i></td>
                        </tr>
                        <tr>
                          <td>Single F Beds</td>
                          <td>0 &nbsp;<i class="ion ion-female"></i></td>
                        </tr>
                         <tr>
                          <td>Veterans  Beds</td>
                          <td>0 &nbsp; <i class="ion ion-ios-medkit-outline"></i></td>
                        </tr>
                      </table>
					          Available: November 17, 2016<br/>
					          {{getDistance(agent1) | number : 2}} miles away&nbsp;&nbsp;<a ng-click="launchNav(agent1)"><i style="color:#398EF7;" class="icon ion-ios-navigate"></i></a><br/>
					          <a href="mailto:{{agent1.email}}" style="text-decoration:blink;color:red;" ><i class="icon ion-ios-email"></i>&nbsp;Email</a>
										&nbsp;&nbsp;&nbsp;<a  style="text-decoration:blink;color:red;"  href="tel:{{agent1.phone1}}"><i class="icon ion-ios-telephone"></i>&nbsp;Call</a>
										&nbsp;&nbsp;&nbsp;<a style="text-decoration:blink;color:red;"  ng-click="openSite(agent1.weburl)"><i class="icon ion-mouse"></i>&nbsp;Web</a>
					        </div>
					      </info-window>
           		
           		 
           		 </marker> 	
                  <!--Closed Shelters-->

           </map>
           <!-- Map End -->
          
          
     
        
      </ion-content>
         <button class="button button-float" ng-click="openComposer()" ng-show="showPlusButton">
	        <i class="icon ion-plus"></i>
	    </button>

    </ion-pane>
 </ion-view>

