
<ion-view view-title="Street Lights Out">
<style>
map {
  position:absolute;
  width: 100%;
  height: 100%;
}

.button-bar > .button{
  border: 1px solid #cfcfcf;
}

.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
    border-radius: 20px 0px 0px 20px !important;
}
.button-balanced {
      min-width: 60px;
      font-weight:bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
th{
  font-weight: bold;
}


  .round {
   border: 2px solid #33cd5f;
    padding: 10px 40px;
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color:grey;
}
  .round2 {
   border: 2px solid #33cd5f;
    padding: 10px 40px;
    width: 300px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color:grey;
}

</style>
 <ion-pane class="background-color-grey">
      <ion-content view-title="Hud agents" header-shrink scroll-event-interval="5" delegate-handle="hudagents" scroll="false">
           
           <!--<ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh"></ion-refresher> -->
            
            <!-- Search Bar Header -->
            <!-- Bug - If you filter then click on the marker the info-window doesnt get values -->
	       <!--<div class="bar bar-header  bar-balanced item-input-inset" scroll="false">
		      <label class="item-input-wrapper">
		        <i class="icon ion-ios-search placeholder-icon"></i>
		        <input  type="search" placeholder="Search" ng-model="searchText">
		      </label>
		      <button  class="button button-icon ion-android-cancel" ng-click="searchText=''; cancelFilter();">
		      </button>
		      	({{ filtered.length}})
		    </div>-->
			 <!-- Search Bar Header -->



     <div class="button-bar padding">
        <div class="button-bar">
            <a class="round"  ng-click="streetlightsSelected()" ng-style="ligthstyle" ><div class="text-center">Street Lights</div></a>
            <a class="round2" ng-click="vegetationSelected()" ng-style="vegstyle"><div class="text-center">Vegetation</div></a>
        </div>
    </div>
		    <!-- Map Start -->
           <map center="{{currentCoords.lat}},{{currentCoords.lon}}"
           		zoom="10"
           		disable-default-u-i="false"
               default-style="false">
           		
           		 <marker position="{{[currentCoords.lat,currentCoords.lon]}}" icon="img/here.png"></marker>
           		 
                <!--Street Lights-->
           		 <marker id='{{agent.agcid}}'  ng-repeat = "agent in mapMarkers" 
           		 		position="{{[agent.agc_ADDR_LATITUDE,agent.agc_ADDR_LONGITUDE]}}"
           		 		on-click="showDetail(event,agent)"
										icon="{{mapIcon}}"
										animation = "DROP"
           		 		clickable="true">

                <info-window
                      id="foo-iw" >
                    <div ng-non-bindable="" >
                      <div class="contents" >
                        <div class="text-center">
                          <img style="max-width:50%;max-height:50%" class="text-center" ng-src="{{getPic(agent1)}}"/>
                        </div>

                        <div class="text-center" ng-show="vegetationSelected==true">
                          <img style="max-width:60%;max-height:60%" class="text-center" ng-src="https://ridingwiththetopdown.files.wordpress.com/2011/08/004.jpg"/>
                        </div>

                        <table style="width:100%">
                          <tr>
                            <th>Location:</th>
                            <td>3310 Brunswick drive, Florissant, MO 64044</td>
                            <td>
                               <div class="button button-small button-balanced" ng-click="openDirections(yelp.cafe)">Navigate</div >
                            </td>
                          </tr>
                          <tr>
                            <th rowspan="2">Reporter:</th>
                            <td>Name: Gary Jobe</td>
                             <td rowspan="2">
                               <div class="button button-small button-balanced" ng-click="openDirections(yelp.cafe)">Call</div >
                            </td>
                          </tr>
                          <tr>
                            <td>Cell: 314-987-9834</td>
                             
                          </tr>
                          <tr>
                            <th>Status:</th>
                            <td>Open <i style="color:red;" class="ion ion-flag"></i></td>
                            <td>
                               <div class="button button-small button-balanced" ng-click="openDirections(yelp.cafe)">Update</div >
                            </td>
                          </tr>
                          <tr>
                            <th>Nearby Trucks:</th>
                            <td>5  <i style="color:green;" class="fa fa-truck fa-2x"></i></td>
                            <td>
                               <a class="button button-small button-balanced" href="#/app/trucks/{{agent1.$id}}">Dispatch</a >
                            </td>
                          </tr>
                        </table>
                      </div >
                    </div >
                  </info-window >




              
           		
           		 
           		 </marker> 	
                  <!--Street Lights-->


           </map>
           <!-- Map End -->
          
          
     
        
      </ion-content>
         <button class="button button-float" ng-click="openComposer()" ng-show="showPlusButton">
	        <i class="icon ion-plus"></i>
	    </button>

      <!--<button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900" ng-click="openComposer()"><i class="icon ion-plus"></i></button>-->

    </ion-pane>
 </ion-view>

